<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  这是一个ejs模板引擎
  <h2>
    <%= title %>
  </h2>
  数组的第二个元素：<%= arr[2]%><br>
  <%=name %>
</body>
</html>